{% extends "courseinfo/base.html" %}

{% block title %}
    Instructor List
{% endblock %}

<h2>Instructor</h2>

{% block content %}
    <h2>Instructor List</h2>
    <div>
        <a href="{% url 'courseinfo_instructor_create_urlpattern'%}">Create New Instructor</a>
    </div>
    <ul>
        {%for instructor in instructor_list%}
            <li><a href = "{{ instructor.get_absolute_url }}">{{instructor}}</a></li>
        {% empty %}
            <li><em>There are currently no instructors available.</em></li>
        {% endfor %}
    </ul>

    {% if is_paginated%}
    <ul>
        {% if previous_page_url %}
            <li><a href={{previous_page_url}}>Previous</a></li>
        {% endif %}
        <li>Page {{instructor_list.number}} of {{paginator.num_pages}}</li>
        {% if next_page_url %}
            <li><a href={{next_page_url}}>Next</a></li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}
