{% extends 'courseinfo/base.html' %}

{% block title %}
    Section - {{ section }}
{% endblock %}

{% block content %}
    <h2>{{ registration }}</h2>

    <section>
        <table>
            <tr>
                <th>Student:</th>
                <td><a href="">{{ registration.student }}</a></td>
            </tr>
            <tr>
                <th>Section</th>
                <td><a href="">{{ registration.section }}</a></td>
            </tr>
        </table>

    </section>
{% endblock %}
