{% extends "courseinfo/base.html" %}

{% block title %}
    Student List
{% endblock %}

<h2>Student</h2>

{% block content %}
    <h2>Student List</h2>
    <div>
        <a href="{% url 'courseinfo_student_create_urlpattern'%}">Create New Student</a>
    </div>
    <ul>
        {%for student in student_list%}
            <li><a href = "{{ student.get_absolute_url }}">{{student}}</a></li>
        {% empty %}
            <li><em>There are currently no students available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
