{% extends 'courseinfo/base.html' %}

{% block title %}
    Instructor - {{ instructor }}
{% endblock %}

{% block content %}
    <h2>{{ student }}</h2>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr>
                <th>Nickname:</th>
                <td>{{ student.nickname }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Sections</h3>
        <ul>
            {% for registration in registration_list %}
                <li>
                    <a href="">{{ registration.section }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no related sections.</em></li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
