{% extends "courseinfo/base.html" %}

{% block title %}
    Error Deleting Section
{% endblock %}

{% block content %}
    <div>
        <h2>Error While Deleting</h2>
        <p>
            You can't delete section {{ section }}.
            Since it's assigned to registrations:
        </p>
        <ul>
            {% for registration in section.registrations.all %}
                <li><a href="{{ registration.get_absolute_url }}">{{ registration }}</a></li>
            {% endfor %}
        </ul>
        <p>
            <a href="{% url 'courseinfo_section_list_urlpattern' %}">Go Back</a>
        </p>
    </div>
{% endblock %}
