{% extends 'courseinfo/base.html' %}

{% block title %}
    Instructor - {{ instructor }}
{% endblock %}

{% block content %}
    <h2>{{ semester }}</h2>
    <ul>
        <li><a class="button " href="{{semester.get_update_url}}">Edit</a></li>
        <li><a class="button " href="{{semester.get_delete_url}}">Delete</a></li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Semester name:</th>
                <td>{{ semester.semester_name }}</td>
            </tr>
        </table>
    </section>

{% endblock %}
