{% extends "courseinfo/base.html" %}

{% block title %}
    Student List
{% endblock %}

<h2>Student</h2>

{% block content %}
    <h2>Student List</h2>
    <div>
        <a class="button button-primary" href="{% url 'courseinfo_student_create_urlpattern'%}">
            Create New Student
        </a>
    </div>
    <ul>
        {%for student in student_list%}
            <li><a href = "{{ student.get_absolute_url }}">{{student}}</a></li>
        {% empty %}
            <li><em>There are currently no students available.</em></li>
        {% endfor %}
    </ul>

    {% if is_paginated%}
    <ul>
        {% if previous_page_url %}
            <li><a href={{previous_page_url}}>Previous</a></li>
        {% endif %}
        <li>Page {{student_list.number}} of {{paginator.num_pages}}</li>
        {% if next_page_url %}
            <li><a href={{next_page_url}}>Next</a></li>
        {% endif %}
    </ul>
    {% endif %}


{% endblock %}
